{% extends "base.html" %}

{% load staticfiles %}

{% block title %}FEH Heroes List{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
  <script src="{% static 'js/heroes_2.js' %}"></script>
{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/heroes_2.css' %}">
{% endblock %}

{% block overridecontent %}


<div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            {% for filter in filters %}
              <div class='{{ filter.2 }}'>
                  {% for content in filter.1 %}
                    <button type="button" class="btn btn-default {{ filter.0 }}-btn" data-id="{{ content.0 }}">
                      {% if content.1.0 == 'txt' %}
                        {{ content.1.1 }}
                      {% elif content.1.0 == 'img' %}
                        <img height="30pt" src="{{ content.1.1 }}">
                      {% endif %}
                    </button>
                  {% endfor %}
              </div>

            {% endfor %}
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

  <h1>FEH Heroes List</h1>
  <h7>Made by LinusMain and Pororo. Linus > Raven. Free hugs for Poronavirus.</h3>

  <table id='heroes-table' class='table table-striped'>
    <thead>
      <tr>
        <td>Name</td>
        <td>Weap</td>
        <td>Mov</td>
        <td>HP</td>
        <td>Atk</td>
        <td>Spd</td>
        <td>Def</td>
        <td>Res</td>
        <td>BST</td>

        <td>HP</td>
        <td>Atk</td>
        <td>Spd</td>
        <td>Def</td>
        <td>Res</td>
        <td>BST</td>

        <td>Gen</td>
        <td>Release</td>
        <td>Weapon Type</td>
        <td>Movement Type</td>
        <td>F2P</td>
        <td>Book</td>
        <td>Generation</td>
        <td>Availability</td>
      </tr>
    </thead>
    <tbody>
      {% for hero in heroes %}
        <tr>
          <td data-sort="{{ hero.full_name }}"><a href="{{ hero.gamepedia_url }}">{{ hero.full_name }}</a></td>
          <td data-sort="{{ hero.weapon_type }}"><img height="30pt" src="{{ hero.weapon_type_icon }}"</img></td>
          <td data-sort="{{ hero.movement_type }}"><img height="30pt" src="{{ hero.movement_type_icon }}"</img></td>
          <td>{{ hero.hp}}</td>
          <td>{{ hero.attack}}</td>

          <td>{{ hero.speed}}</td>
          <td>{{ hero.defense}}</td>
          <td>{{ hero.resistance}}</td>
          <td>{{ hero.bst}}</td>

          <td>{{ hero.max_stats.0}}</td>
          <td>{{ hero.max_stats.1}}</td>

          <td>{{ hero.max_stats.2}}</td>
          <td>{{ hero.max_stats.3}}</td>
          <td>{{ hero.max_stats.4}}</td>
          <td>{{ hero.max_bst}}</td>

          <td>{{ hero.generation}}</td>

          <td data-sort='{{ hero.release_date|date:"Y-m-d"}}'>{{ hero.release_date|date:"j M y"}}</td>
          <td>{{ hero.weapon_type }}</td>
          <td>{{ hero.movement_type }}</td>
          <td>{{ hero.is_f2p }}</td>
          <td>{{ hero.book }}</td>

          <td>{{ hero.generation }}</td>
          <td>{{ hero.availability }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

        </main>
      </div>
    </div>

{% endblock %}


